@media only screen and (min-width: 40em) {
  .about {
    margin-bottom: 50px;
  }

  .hero h2 {
    font-size: 40px;
  }

  .gooddog {
    gap: 0;
    flex-direction: row;
  }

  .amber-pics {
    display: inline-block;
    text-align: center;
    margin-top: 100px;
  }
}
